<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nvestr</title>
    <style>
        .rounded_corner {
          border-radius: 25px;
          background: #3B0B39;
          padding: 20px;
          text-align: center;
        };
        a:link {
          color: white;
        }
        a:visited {
          color: white;
        }
        a:hover {
          color: pink
        }
    </style>
</head>
<body>
<div class="rounded_corner">
    <h1><a href="market">Nvestr</a></h1>
    <h2><a href="admin">Admin</a></h2>
    </div>
</body>
</html>